/* add your CSS here */

.animal {
    width: 310px;
    border: 3px solid;
    background-color: white;
    box-shadow: 3px 3px 1px gray;
}
p.subtitle {
    font-style: italic;

}
ul.animal-feed li span {
    font-weight: bolder;
}
ul.animal-feed {
    list-style: none;

}
#animal-image img {
    max-width: 300px;
    border: 2px solid lightgray;
	    padding: 5px;
}
h3#title {
    display: block;
    padding: 0px 5px;
    text-align: center;
}
p.desc-animal {
    
	    padding: 5px;
}

.idenf {
    padding: 5px;
    text-align: justify;
    border: 1px solid lightgrey;
    margin: 5px;
}